@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 224 71% 4%; /* Deep Blue */

    --card: 0 0% 98%; /* Soft Gray */
    --card-foreground: 224 71% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;

    --primary: 204 82% 51%; /* #14b8a6 Teal */
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 204 82% 51%; /* Teal */
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 204 82% 51%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%; /* Deep Blue */
    --foreground: 0 0% 98%; /* Almost White */

    --card: 224 71% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 204 82% 51%; /* #14b8a6 Teal */
    --primary-foreground: 224 71% 4%;

    --secondary: 215 28% 17%;
    --secondary-foreground: 0 0% 98%;

    --muted: 215 28% 17%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 204 82% 51%; /* Teal */
    --accent-foreground: 224 71% 4%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 204 82% 51%;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
